:root {
    --bg:#262626;
    --txt:#C9A26D;
    --btc:#C191FF; 
}
body {
    background-color: var(--bg);
    color: var(--txt);
    font-family:Consolas;
    font-size:130%;
}
.row {
    max-width: 650px;
    margin: 20px auto 20px auto;
    padding-left: 15px;
    padding-right: 15px
}
.wrapper {
    display: grid;
    place-items: center;
}
.typing { 
    width: 22ch;
    animation: typing 2s steps(22), blink .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
}
section{
    padding-top: 1ch;
}
button{
    border: 0;
    background-color: var(--bg);
}
a, button{
    display: inline-block;
    color: var(--btc);
    text-decoration: none;
}
@media all and (max-width:70em){
    a {
        display:block;
        margin:0.4em auto;
        margin-top: 20px;
    }
    body {
        margin-right: 0;
    }
}
@keyframes typing {
    from {
        width: 0
    }
}   
@keyframes blink {
    50% {
        border-color: transparent
    }
}