:root {
    --bg: #0C0C0C;
    --txt: #CCCCCC;
}

body {
    background-color: var(--bg);
    color: var(--txt);

    text-align: center;
}

.homeButtons{
    align-items: center;
}

ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    border: 1px solid var(--txt);
    border-radius: 5px;
    display: inline-block;
    padding: 0.1rem 1rem;
    margin-right: 1rem;

    color: var(--txt);
}