:root {
    --bg:#262626;
    --txt:#C9A26D;
    --btc:#C191FF; 
    --inpclr: aliceblue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    margin: 0;
    height: 100%;
}
body {
    background-color: var(--bg);
    color: var(--txt);
    font-family:Consolas;
    font-size: 1.3em; 
    margin: 0;
    height: 100%;
    overflow: hidden;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    background: #323232;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
button{
    border: 0;
    background-color: 
    var(--bg);
    color: var(--btc);
    text-decoration: none;
}
a:hover, button:hover {
    color: #ff9800;
}
.billField {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    overflow-y: auto;
    display: none;
}
section.active {
    display: block;
}
input {
    display: block;
    width: 100%;
    background: none;
    margin-top: 10px;
    outline: none;
    color: var(--inpclr);
}
input, button, textarea, select {
    font-size: inherit;
}
select {
    display: block;
    width: 100%;
    background: none;
    margin-top: 10px;
    outline: none;
    color: var(--inpclr);
    background-color: var(--bg);
    border: 0;
}
select:focus {
    border-color: #ff9800;
    box-shadow: 0 0 5px #ff9800;
}
select option {
    background-color: var(--bg);
    color: var(--txt);
}
.add-operation {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: none;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px; /* Добавляем отступы */
    background-color: #444; /* Улучшаем видимость кнопки */
    border-radius: 8px; /* Добавляем скругление */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

.add-operation:hover {
    background-color: #555; /* Изменяем цвет при наведении */
}

#operation-options {
    position: absolute; /* Делаем выпадающий список абсолютным */
    right: 100%; /* Выпадает слева от кнопки */
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Выравниваем элементы вправо */
}

#operation-options.hidden {
    display: none;
}

#operation-options button {
    margin-top: 5px;
    width: 160px;
}
@media all and (max-width:70em){
    a {
        display:block;
        margin:0.4em auto;
        margin-top: 20px;
    }
    body {
        font-size: 2.6em;
    }
}